main {
    max-width: 70%;
    margin: 0 auto;
    min-height: 31.25rem;
    background: $color1;

    // .un {

   
    
    // h3 {
    //     text-align: center;
    //     padding: 50px;
    //     align-items: center;

    // }

     
    // .main-top {
    //     @include dfcenter;
    //     flex-direction: column;
    
    // h2 {
    //     font-size: 2rem;
    //     @include letter;
    //     text-align: center;
    //     font-weight: 900;  
    //     font-size: 2.5rem; 
    //     margin: 40px;     
    // }

    //     p {
    //        max-width: 30rem;
    //        line-height: 2rem;
    //        text-align: center;
    //        font-style: italic;
    //        color: $color3;
    //     }

    //     img {
    //         height: 100px;
    //         width: 100px;
    //     }
    

    // }

    
    //     .main-bottom {
    //        display: flex;
    //        flex-direction: column;
    //        align-items: center;
            
    //         }
    //         img {
    //           padding: 20px;
    //             width: 50.75rem;
    //            height: 34.25rem;
                
    //     }

    //     button {
    //         margin-top: 20px;
    //         padding: 10px 20px;
    //     }

       
    // }

    }


