.deux {
    border-top: 1px solid $color3;
margin-top: 20px;
  .sectiondeux-container {
   width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
    

   
    
    div {
      width: 100%;
      @include dfcenter;
      flex-direction: column;
      padding: 30px;
    
     
      &:nth-child(2) {
        border-left: 1px solid $color3;
      }

      h3 {
   margin: 10px;
 }
     h2 {
        margin: 10px;
        @include letter;
        text-align: center;
     }

     p {
       text-align: center;
       margin: 20px;
       line-height: 1.5;
       font-style: italic;
     }
      


    img {
        width: 100%;
        height: 300px;
      }
    }
  }
 


  @media (max-width: 768px) {
    .sectiondeux-container {
      display: block;
  }
}
}
